<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv='Content-Security-Policy' content='block-all-mixed-content'>
    <title>{% block title %}{% endblock %}</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link href="/static/css/controlboard.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
</head>

<body style="position: relative">
<div class="header">
    <div class="header-body">
        <a href="/" class="header-logo" onclick="loadingIn()"></a>
        <div class="header-develop">
            <a href="/admin" class="header-developer-a" onclick="loadingIn()">
                <div class="header-developer-icon">
                </div>
                智慧城市管理中心
            </a>
        </div>
        <div class="header-menu">
            <ul>
                <li onclick="chosed(this)">
                    <a href="/admin" onclick="loadingIn()" class={{ plat_admin_chose }}><span
                            class="fa fa-ravelry"></span>平台管理</a>
                </li>
            </ul>
            <ul>
                <li onclick="chosed(this)">
                    <a href="/home" onclick="loadingIn()" class={{ user_center_chose }}><span
                            class="fa fa-street-view"></span>个人中心</a>
                </li>
            </ul>
        </div>
        <div class="header-user">
            <ul class="login-ul">
                <li class="login-li" onclick="adminList()" onblur="reList()"><a>{{ user_name }}</a></li>
                <li class="login-li" onclick="adminList()" onblur="reList()"><span>{{ first_name }}</span></li>
                <div class="h-u-h-c-b">
                    <div class="header-user-head-content">
                        <p class="h-u-h-c-username">{{ user_name }}</p>
                        <ul class="h-u-h-c-setting">
                            <li><a href="/home/{{ username }}" onclick="loadingIn()"><i
                                    class="fa fa-user-o"></i>个人中心</a>
                            </li>
                            <li><a href="/logout" onclick="loadingIn()"><i class="fa fa-circle-o-notch"></i>退出帐号</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

{% block menu %}
{% endblock %}

<div class="content">
    <div class="wrapper">
        <div id="top" class="navigation" style=" border-radius:0">{{ exhibition_name }}</div>
        {% block wrapper %}
        {% endblock %}
    </div>
</div>

<div class="footer">
    <a target="_blank" href="https://www.google.com/"><img
            src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.0.8/img/logo/Google.svg" style="width: 70px;"></a>
    <p>联系我们：QQ-2697021834/QQ-980830593/QQ-2750895964</p>
    <p>Copyright©2019 JustCloud 版权所有 蜀ICP备17013721号</p>
</div>


{% include 'type/loading.html' %}

<div class="suspension">
    <a href="#top"><span class="fa fa-paper-plane" aria-hidden="true"></span></a>
</div>

{% if waring_system_list %}
    <div class="waringchange" id="device_waring" style="display: block">
        <div class="grid" style="width: 300px; margin: 148px auto">
            <div class="reuser-table">
                <div class="re-header">
                    <a class="change-table-close" style="float: right;color: #b0b0b0"
                       onclick="loadingIn(),waringClose()"><i
                            class="fa fa-times"></i></a>
                    <div class="re-title " style="color: #eb3c22">警告</div>
                </div>
                <div class="re-body" style="position: relative;padding: 32px;">
                    <div style="margin-bottom: 12px;">存在设备需要处理！</div>
                    <div>请及时联系相关人员查看！</div>
                </div>
                <div class="re-footer">
                    <button type="button" onclick="loadingIn();waringClose()" style="background-color: #eb3c22">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="waringchange" id="new_waring" style="display: none">
    <div class="grid" style="width: 300px; margin: 148px auto">
        <div class="reuser-table">
            <div class="re-header">
                <a class="change-table-close" style="float: right;color: #b0b0b0"
                   onclick="loadingIn(),waringClose()"><i
                        class="fa fa-times"></i></a>
                <div class="re-title " style="color: #eb3c22">警告</div>
            </div>
            <div class="re-body" style="position: relative;padding: 32px;">
                <div style="margin-bottom: 12px;">存在设备需要处理！</div>
                <div>请及时联系相关人员查看！</div>
            </div>
            <div class="re-footer">
                <button type="button" onclick="loadingIn();newWaring()" style="background-color: #eb3c22">确定
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    window.setInterval("getWaring()", 10000);
</script>
<script src="/static/js/controlboard.js"></script>
</body>
</html>
