<div class="menu">
    <ul class="menu-ul">
        <li class={{ main_home }}>
            <a onclick="loadingIn()" href='/home'><i class='fa fa-eercast'></i>用户管理</a>
        </li>
        <li class={{ auth_home }}>
            <a onclick="loadingIn()" href='/home/{{ username }}/auth'><i class='fa fa-bullseye'></i>权限设置</a>
        </li>
        <li class={{ center_home }}>
            <a onclick="loadingIn()" href='/home/{{ username }}/center'><i class='fa fa-cogs'></i>个人中心</a>
        </li>
    </ul>
</div>