<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Type</title>
    <script src = "/static/js/jquery-3.3.1.min.js"></script>
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link href="/static/css/index1.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <style>
        a{
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        .header{
             background-color: #161C27;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="header-body">
        <a href="/" class="header-logo"></a>
        <div class="header-menu">
            <ul class="header-menu-ul">
                <li class="header-menu-ul-li ">
                    <a href="/#Jinger" class="header-menu-a" >Jinger系统</a>
                </li>
                                <li class="header-menu-ul-li ">
                    <a href="/#Detritus" class="header-menu-a">Detritus系统</a>
                </li>
                                <li class="header-menu-ul-li ">
                    <a href="/#Lumiere" class="header-menu-a">Lumiere系统</a>
                </li>
                                <li class="header-menu-ul-li ">
                    <a href="/#Parquer" class="header-menu-a">Parquer系统</a>
                </li>
            </ul>
        </div>
        <div class="header-user">
            <div class="header-develop">
                <a target="_blank" href="/admin" data-hmt-type="header_19" class="header-developer-a">
                    <div class="header-developer-icon"></div>
                    智慧城市管理中心
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>