{% extends 'type/controlboard.html' %}
{% load base %}
{% block title %}{{ system_obj.platform }}命令推送{% endblock %}

{% block menu %}
    {% include 'system/systemType.html' %}
{% endblock %}

{% block wrapper %}
    <link href="/static/css/system/systemPush.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery.validate.min.js"></script>

    <div class="navigation" style="margin: 30px 20px 0 20px;height: 108px">
        <div class="data-body">
            <div class="push-body">
                <label style="margin-right: 3px;">历史推送数(条)</label>
                <label class="push-count">{{ push_count }}</label>
            </div>
            <div class="push-add">
                <a onclick="loadingIn();showPushAll()">
                    <i class="fa fa-rocket"></i>
                    <span style="margin-left: 4px;">统一命令推送</span>
                </a>
            </div>
        </div>
    </div>

    {% for device,data in device_data_dict.items %}

        <div class="baseinfo">
            <div class="grid">
                <div class="baseinfo-user">
                    <h2>{{ device.name }}</h2>
                    {% if device in waring_device_list %}
                        <span style="color: #fa2e19;background-color: #ffbdac">{{ device.IMEI }}</span>
                    {% elif device|data %}
                        <span>{{ device.IMEI }}</span>
                    {% else %}
                        <span style="color: white;background-color:rgb(196, 201, 205)">{{ device.IMEI }}</span>
                    {% endif %}
                </div>
                <div class="baseinfo-uid">
                    <h3>设备ID</h3>
                    <span>{{ device.id }}</span>
                </div>
                <div class="baseinfo-subuser">
                    <h3>创建时间</h3>
                    <span>{{ device.date|date:"Y-m-d H:i" }}</span>
                </div>
                <div class="baseinfo-system">
                    <h3>设备接入协议</h3>
                    <span>{{ system_obj.protocol }}</span>
                </div>
                <div class="push">
                    <a onclick="loadingIn();showPush(this)" did="{{ device.id }}">
                        <i class="fa fa-level-up"></i>
                        <span style="margin-left: 4px;">命令推送</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="waring-datalist">
            <div class="data-table">
                <div class="t-header">
                    <table style="width: 100%;table-layout: fixed;">
                        <thead>
                        <tr>
                            <th style="width: 11%">
                                <div>
                                    <span>数据ID</span>
                                </div>
                            </th>
                            {% for type,name in type_name.items %}
                                <th>
                                    <div>
                                        <span>{{ name }}</span>
                                    </div>
                                </th>
                            {% endfor %}
                            <th>
                                <div>
                                    <span>推送时间</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                {% if data %}
                    <div class="t-body">
                        <table style="width: 100%;table-layout: fixed;">
                            <tbody>
                            {% for data in data %}
                                {% if forloop.counter > 10 %}
                                    <tr style="display: none" id={{ device.id }}{{ forloop.counter }}>
                                        {% else %}
                                    <tr id={{ device.id }}{{ forloop.counter }}>
                                {% endif %}
                            <td style="width: 11%">
                                <div><span>{{ data.id }}</span></div>
                            </td>
                            {% for type,value in data_dict|key:data.id %}
                                {% if type == 'Switch' %}
                                    {% if value == 1 %}
                                        <td>
                                            <div>
                                                    <span class="data-status"
                                                          style="background-color: #61d16c;font-weight: 500;">开启</span>
                                            </div>
                                        </td>
                                    {% elif value == 0 %}
                                        <td>
                                            <div>
                                                    <span class="data-status"
                                                          style="background-color: #61d16c;font-weight: 500;">关闭</span>
                                            </div>
                                        </td>
                                    {% endif %}
                                {% elif type == 'Cycle' %}
                                    <td>
                                        <div><span>{{ value }}小时</span></div>
                                    </td>
                                {% elif type == 'Turn' or type == 'Park' or type == 'Full' %}
                                    {% if value == 0 %}
                                        <td>
                                            <div>
                                                    <span class="data-status"
                                                          style="background-color: #61d16c;font-weight: 500;">否</span>
                                            </div>
                                        </td>
                                    {% elif value == 1 %}
                                        <td>
                                            <div>
                                                    <span class="data-status"
                                                          style="background-color: #ea4215;font-weight: 500;">是</span>
                                            </div>
                                        </td>
                                    {% endif %}
                                {% elif type == 'Top-Light' or type == 'Bottom-Light' %}
                                    {% if value == 1 %}
                                        <td>
                                            <div>
                                                    <span class="data-status"
                                                          style="background-color: #61d16c;font-weight: 500;">良好</span>
                                            </div>
                                        </td>
                                    {% elif value == 0 %}
                                        <td>
                                            <div>
                                                    <span class="data-status"
                                                          style="background-color: #ea4215;font-weight: 500;">不良</span>
                                            </div>
                                        </td>
                                    {% endif %}
                                {% elif type == 'Switch-Light' %}
                                    {% if value == 1 %}
                                        <td>
                                            <div>
                                                    <span class="data-status"
                                                          style="background-color: #61d16c;font-weight: 500;">开启</span>
                                            </div>
                                        </td>
                                    {% elif value == 0 %}
                                        <td>
                                            <div>
                                                    <span class="data-status"
                                                          style="background-color: #ea4215;font-weight: 500;">关闭</span>
                                            </div>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <td>
                                        <div><span>{{ value }}</span></div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <div>
                                    <span>{{ data.date|date:"Y-m-d H:i" }}</span>
                                </div>
                            </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="t-body">
                        <table style="width: 100%;table-layout: fixed;height: 145px;">
                            <tbody>
                            <tr>
                                <td>
                                    <div><span>暂无历史推送</span></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <div class="t-footer">
                    <span style="font-size: 12px;color: #999;">共{{ data|length }}项数据</span>
                    {% if data|length > 10 %}
                        <span class="device-status" id="show-more"
                              style="background-color: #57a2ff;margin-left: 128px;width: 66px;"
                              onclick="loadingIn();showmore(this)"
                              nowlen={{ device.id }}10
                              len={{ device.id }}{{ data|length }}>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        更多
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}


    <div class="pushadd" id="push">
        <div class="change-table">
            <a class="change-table-close" onclick="loadingIn();closechange(this)"><i class="fa fa-times"></i></a>
            <div class="change-table-header">命令推送</div>
            <div class="change-table-form">
                <div>
                    <form>
                        <p>命令推送详情</p>
                        {% csrf_token %}
                        {% for type,name in type_name.items %}
                            <div style="margin-bottom: 24px">
                                <label class="form-item">{{ name }}</label>
                                {% if type == 'Switch' %}
                                    <div class="form-input">
                                        <select class="item-body" name={{ type }} id={{ type }}
                                                onclick="reWaring(this)">
                                            <option value=0>关闭</option>
                                            <option value=1>开启</option>
                                        </select>
                                    </div>
                                {% elif type == 'Cycle' %}
                                    <div class="form-input">
                                        <input type="text" placeholder="请输入{{ name }}" id={{ type }} name={{ type }}
                                               onclick="reWaring(this)">
                                    </div>
                                {% else %}
                                    <div class="form-input">
                                        <input type="text" placeholder="输入无效" id={{ type }} name={{ type }}
                                               onclick="reWaring(this)"
                                               value=""
                                               readonly>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
            <div class="change-table-footer">
                <button class="sent" onclick="loadingIn();dataPush(this)"><span>确定</span></button>
            </div>
        </div>
    </div>

    <div class="pushadd" id="pushall">
        <div class="change-table">
            <a class="change-table-close" onclick="loadingIn(),closechange(this)"><i class="fa fa-times"></i></a>
            <div class="change-table-header">命令推送</div>
            <div class="change-table-form">
                <div>
                    <form>
                        <p>命令推送详情</p>
                        {% csrf_token %}
                        {% for type,name in type_name.items %}
                            <div style="margin-bottom: 24px">
                                <label class="form-item">{{ name }}</label>
                                {% if type == 'Switch' %}
                                    <div class="form-input">
                                        <select class="item-body" name={{ type }} id={{ type }}
                                                onclick="reWaring(this)">
                                            <option value=0>关闭</option>
                                            <option value=1>开启</option>
                                        </select>
                                    </div>
                                {% elif type == 'Cycle' %}
                                    <div class="form-input">
                                        <input type="text" placeholder="请输入{{ name }}" id={{ type }} name={{ type }}
                                               onclick="reWaring(this)">
                                    </div>
                                {% else %}
                                    <div class="form-input">
                                        <input type="text" placeholder="输入无效" id={{ type }} name={{ type }}
                                               onclick="reWaring(this)"
                                               value=""
                                               readonly>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
            <div class="change-table-footer">
                <button class="sent" onclick="loadingIn();dataPushAll()"><span>确定</span></button>
            </div>
        </div>
    </div>





    <script src="/static/js/system/systemPush.js"></script>
{% endblock %}
