{% extends 'type/controlboard.html' %}
{% load base %}
{% block title %}{{ system_obj.platform }}设备列表{% endblock %}

{% block menu %}
    {% include 'system/systemType.html' %}
{% endblock %}

{% block wrapper %}
    <link href="/static/css/system/systemDevice.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery.validate.min.js"></script>

    <div class="device-overview-body">
        <div style="margin-top: 21px;">
            <div class="overview-nav">
                <ul class="overview-ul">
                    <li>
                        <div class="li-item"><label class="overview-nav-title">设备总数(个)</label>
                            <p class="number">{{ device_count }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="li-item"><label class="overview-nav-title">在线设备(个)</label>
                            <p class="number">{{ device_active_count }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="li-item"><label class="overview-nav-title">离线设备(个)</label>
                            <p class="number">{{ device_inactive_count }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="li-item"><label class="overview-nav-title">新增设备(个)</label>
                            <p class="number">{{ new_devices_count }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="li-item"><label class="overview-nav-title">异常设备(个)</label>
                            <p class="number">{{ system_waring_device_count }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navigation" style="margin: 30px 20px 0 20px;text-align: center">设备变化情况</div>

    <div class="map">
        <div class="map-body">
            <div id="device"></div>
        </div>
    </div>

    <div class="navigation" style="margin: 30px 20px 0 20px;text-align: center">设备列表</div>

    <div class="devicelist">
        <div class="device-table">
            <div class="t-header">
                <table style="width: 100%;table-layout: fixed;">
                    <thead>
                    <tr>
                        <th style="width: 11%">
                            <div>
                                <span>设备ID</span>
                            </div>
                        </th>
                        <th>
                            <div>
                                <span>设备名称</span>
                            </div>
                        </th>
                        <th>
                            <div>
                                <span>设备状态</span>
                            </div>
                        </th>
                        <th>
                            <div>
                                <span>创建时间</span>
                            </div>
                        </th>
                        <th>
                            <div>
                                <span>最后交互时间</span>
                            </div>
                        </th>
                        <th>
                            <div>
                                <span>操作</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            {% if device_count > 0 %}
                <div class="t-body">
                    <table style="width: 100%;table-layout: fixed;">
                        <tbody>
                        {% for device in devices %}
                            {% if forloop.counter > 10 %}
                                <tr style="display: none" id={{ forloop.counter }}>
                                    {% else %}
                                <tr id={{ forloop.counter }}>
                            {% endif %}
                        <td style="width: 11%">
                            <div><span>{{ device.id }}</span></div>
                        </td>
                        <td>
                            <div><span>{{ device.name }}</span></div>
                        </td>
                        <td>
                            {% if waring_device_list %}
                                {% if device in waring_device_list %}
                                        <div>
                                        <span class="device-status" style="background-color: #EB3C22">异常</span></div>
                                {% elif device|data %}
                                    <div><span class="device-status"
                                               style="background-color: #61d16c">在线</span>
                                    </div>
                                {% else %}
                                    <div><span class="device-status">离线</span></div>
                                {% endif %}
                            {% else %}
                                {% if device.data.all %}
                                    <div><span class="device-status"
                                               style="background-color: #61d16c">在线</span>
                                    </div>
                                {% else %}
                                    <div><span class="device-status">离线</span></div>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <div><span
                                    style="font-size: 10px;font-weight: 600">{{ device.date|date:"Y-m-d H:i" }}</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if device.data.last.date %}
                                    <span
                                            style="font-size: 10px;font-weight: 600">{{ device.data.last.date|date:"Y-m-d H:i" }}</span>
                                {% else %}
                                    <span>设备未激活</span>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div>
                                <a class="a-green"
                                   href="/system/{{ user_obj.username }}/{{ device.system.platform }}/{{ device.system.id }}/device/{{ device.id }}"
                                   onclick="loadingIn()">详情</a>
                                <a class="a-red" onclick="loadingIn();showremove(this)"
                                   did={{ device.id }}>删除</a></div>
                        </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="t-body">
                    <table style="width: 100%;table-layout: fixed;height: 145px;">
                        <tbody>
                        <tr>
                            <td>
                                <div><span>暂无下属设备</span></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <div class="t-footer">
                <span style="font-size: 12px;color: #999;">共{{ device_count }}项数据</span>
                {% if device_count > 10 %}
                    <span class="device-status" id="show-more"
                          style="background-color: #57a2ff;margin-left: 128px;width: 66px;"
                          onclick="loadingIn();showmore(this)"
                          nowlen="10"
                          len={{ device_count }}>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        更多
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="navigation"
         style="margin: 0 20px 0 20px;text-align: center; height: 96px;line-height: 96px;border-radius:0">
        <a class="create-device" onclick="loadingIn(),createShow()">
            <i class="fa fa-cube"></i>
            <span style="margin-left: 4px;">添加设备</span>
        </a>
    </div>


    <div class="change" id="remove">
        <div class="grid" style="width: 300px; margin: 148px auto">
            <div class="reuser-table">
                <div class="re-header">
                    <a class="change-table-close" style="float: right;color: #b0b0b0" onclick="loadingIn(),reClose()"><i
                            class="fa fa-times"></i></a>
                    <div class="re-title ">提示</div>
                </div>
                <div class="re-body" style="position: relative;padding: 32px;">
                    {% csrf_token %}
                    <div>确定要删除ID为<span class="id"></span><span>的设备吗？</span></div>
                </div>
                <div class="re-footer">
                    <button type="button" onclick="loadingIn();deviceRemove()" style="background-color: #eb3c22">确定
                    </button>
                    <button type="button" onclick="loadingIn();reClose()">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="change" id="deviceadd">
        <div class="change-table">
            <a class="change-table-close" onclick="loadingIn(),closeChange(this)"><i class="fa fa-times"></i></a>
            <div class="change-table-header">添加设备</div>
            <div class="change-table-form">
                <div>
                    <form>
                        {% csrf_token %}
                        <p>设备信息</p>
                        <div style="margin-bottom: 24px">
                            <label class="form-item">设备名:</label>
                            <div class="form-input">
                                <input type="text" placeholder="请输入设备名" onclick="reWaring(this)"
                                       onblur="get_error(this)"
                                       id="name"
                                       name="name">
                            </div>
                        </div>
                        <div style="margin-bottom: 24px">
                            <label class="form-item">序列号:</label>
                            <div class="form-input">
                                <input type="text" placeholder="请输入15位序列号(IMEI)" id="IMEI" name="IMEI"
                                       onclick="reWaring(this)"
                                       onblur="get_error(this)">
                            </div>
                        </div>
                        <div style="margin-bottom: 24px">
                            <label class="form-item">接入协议:</label>
                            <div class="form-input">
                                <input type="text" placeholder="请选择接入协议" id="protocol" name="protocol" value="CoAP"
                                       readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="change-table-footer">
                <button class="sent" onclick="createSys()"><span>确定</span></button>
            </div>
        </div>
    </div>



    <script src="/static/js/system/systemDevice.js"></script>
    <script src="/static/plugins/highcharts/highcharts.js"></script>
    <script src="/static/plugins/highcharts/exporting.js"></script>
    <script src="/static/plugins/highcharts/highcharts-zh_CN.js"></script>
    <script src="/static/plugins/highcharts/grid-light.js"></script>
    <script src="/static/plugins/highcharts/highcharts-more.js"></script>
    <script>
        Highcharts.chart('device', {
            chart: {
                type: 'column'
            },
            title: {
                text: null
            },
            xAxis: {
                gridLineWidth: 0,
                categories: [getDay(-9), getDay(-8), getDay(-7), getDay(-6), getDay(-5), getDay(-4), getDay(-3), getDay(-2), getDay(-1), getDay(0)],
            },
            yAxis: {
                title: {
                    text: '设备数/台'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y} 台</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    borderWidth: 0
                }
            },
            series: [{
                name: '设备总数',
                data: [
                    {% for count in device_count_list %}
                        {{ count }},
                    {% endfor %}
                ]
            }, {
                name: '异常设备',
                data: [
                    {% for count in device_waring_change_list %}
                        {{ count }},
                    {% endfor %}
                ]
            }, {
                name: '新增设备',
                data: [
                    {% for count in device_new_change_list %}
                        {{ count }},
                    {% endfor %}
                ]
            }]
        });
    </script>
{% endblock %}
