* {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited,
a:link {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid darkgrey;
    z-index: 11;
    transition: background-color .2s;
    background-color: #161C27;
    display: flex;
    flex-direction: row;

}

.header .header-body {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.header .header-body .header-logo {
    display: inline-block;
    background: url(/static/img/JustCloud.png) no-repeat;
    width: 160px;
    height: 58px;
    background-size: contain;
    margin-top: 10px;
    margin-right: -170px;
    float: right;
}

.header .header-body .header-user {
    float: right;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
}

.header .header-body .header-develop {
    float: left;
    margin-left: -150px;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
}

.header .header-body .header-develop .header-developer-a {
    text-decoration: none;
    color: #fff;
}

.header .header-body .header-develop .header-developer-a:hover .header-developer-icon {
    transform: rotateY(360deg);
}

.header .header-body .header-develop .header-developer-a:hover {
    color: #58BDEB;
}

.header .header-body .header-develop .header-developer-a .header-developer-icon {
    background: url(/static/img/index/developer-center.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    transition: all .5s;
    transform: rotateY(0deg);
}

.header .header-body .header-user .login-ul {
    float: left;
    position: relative;
    margin-left: 15px;
}

.header .header-body .header-user .login-ul .no-login-li,
.header .header-body .header-user .login-ul .no-login-li a {
    float: left;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    color: #fff;
}

.header .header-body .header-user .login-ul .no-login-li:hover,
.header .header-body .header-user .login-ul .no-login-li a:hover,
.header .header-body .header-user .login-ul .login-li a:hover {
    color: #58BDEB;
}

.header .header-body .header-user .login-ul .login-li {
    float: left;
}

.header .header-body .header-user .login-ul .login-li a {
    float: left;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    color: #fff;
}

.header .header-body .header-user .login-ul .login-li span {
    margin: 20px 0 20px 15px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 30px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    background: #17a6f1;
    color: white;
}

.header .header-body .header-user .login-ul .h-u-h-c-b.show {
    height: 210px;
    z-index: 99;
}

.header .header-body .header-user .login-ul .h-u-h-c-b {
    height: 0;
    position: absolute;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s;
    width: 100px;
    top: 58px;
    left: 18px;
    cursor: default;
}


.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content {
    background-color: #25272e;
    border-top: 1px solid #19bbff;
    font-size: 12px;
    margin-top: 10px;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-username {
    height: 36px;
    text-align: center;
    color: #fff;
    line-height: 36px;
    margin-top: 10px;
    border-bottom: 1px solid #5a6169;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting {
    margin-top: 4px;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li {
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content::before {
    content: "";
    display: block;
    position: relative;
    margin: -10px auto;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #19bbff;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li a {
    font-size: 12px;
    text-decoration: none;
    transition: all .2s;
    color: #c6cace;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li a:hover {
    color: white;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li a i {
    font-size: 12px;
    margin-right: 8px;
}