* {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited,
a:link {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.device-status {
    display: inline-block;
    width: 80px;
    height: 26px;
    background: rgb(196, 201, 205);
    font-size: 12px;
    color: rgb(255, 255, 255);
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
}

.suspension {
    position: fixed;
    bottom: 30px;
    right: 48px;
    z-index: 10;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    background-color: #19bbff;
    cursor: pointer;
    display: block;
    color: #fff;
    padding-top: 1px;
    text-align: center;
    opacity: 0.3;
}

.suspension:hover {
    opacity: 1;
}

.suspension a span {
    color: white;
    line-height: 25px;
}

.suspension a {
    display: block;
}

.header {
    width: 100%;
    height: 50px;
    top: 0;
    border-bottom: 1px solid darkgrey;
    z-index: 11;
    position: fixed;
    transition: background-color .2s;
    background-color: #262626;
    display: flex;
    flex-direction: row;

}

.header .header-body {
    width: 100%;
    margin: 0 auto;
    height: 50px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.header .header-body .header-logo {
    display: inline-block;
    background: url(/static/img/favicon.ico) no-repeat;
    width: 40px;
    height: 26px;
    background-size: contain;
    margin-top: 12px;
    float: left;
}

.header .header-body .header-develop .header-developer-a:after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 16px;
    background-color: #686d7a;
    margin-left: 12px;
    margin-right: 21px;
    vertical-align: middle;
}

.header .header-body .header-user {
    float: right;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.header .header-body .header-develop {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.header .header-body .header-develop .header-developer-a {
    text-decoration: none;
    color: #fff;
}

.header .header-body .header-develop .header-developer-a:hover .header-developer-icon {
    transform: rotateY(360deg);
}

.header .header-body .header-develop .header-developer-a:hover {
    color: #58BDEB;
}

.header .header-body .header-develop .header-developer-a .header-developer-icon {
    background: url(/static/img/index/developer-center.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 3px;
    transition: all .5s;
    transform: rotateY(0deg);
}

.header .header-body .header-user .login-ul {
    float: left;
    position: relative;
    margin-left: 15px;
}

.header .header-body .header-user .login-ul .no-login-li,
.header .header-body .header-user .login-ul .no-login-li a {
    float: left;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    color: #fff;
}

.header .header-body .header-user .login-ul .no-login-li:hover,
.header .header-body .header-user .login-ul .no-login-li a:hover,
.header .header-body .header-user .login-ul .login-li a:hover {
    color: #58BDEB;
}

.header .header-body .header-user .login-ul .login-li {
    float: left;
    margin-right: 9px;
}

.header .header-body .header-user .login-ul .login-li a {
    float: left;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    color: #fff;
}

.header .header-body .header-user .login-ul .login-li span {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 30px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    background: #17a6f1;
    color: white;
    border: 1px solid;
}

.header .header-body .header-user .login-ul .login-li span:hover {
    border: 1px solid #49a6fd;
}

.header .header-body .header-user .login-ul .h-u-h-c-b.show {
    height: 210px;
    z-index: 99;
}

.header .header-body .header-user .login-ul .h-u-h-c-b {
    height: 0;
    position: absolute;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s;
    width: 100px;
    top: 37px;
    left: -12px;
    cursor: default;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content {
    background-color: #25272e;
    border-top: 1px solid #19bbff;
    font-size: 12px;
    margin-top: 10px;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-username {
    height: 36px;
    text-align: center;
    color: #fff;
    line-height: 36px;
    margin-top: 10px;
    border-bottom: 1px solid #5a6169;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting {
    margin-top: 4px;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li {
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content::before {
    content: "";
    display: block;
    position: relative;
    margin: -10px auto;
    border-left: 5px;
    border-right: 5px;
    border-bottom: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #19bbff;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li a {
    font-size: 12px;
    text-decoration: none;
    transition: all .2s;
    color: #c6cace;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li a:hover {
    color: white;
}

.header .header-body .header-user .login-ul .h-u-h-c-b .header-user-head-content .h-u-h-c-setting li a i {
    font-size: 12px;
    margin-right: 8px;
}

.header .header-body .header-menu {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.header .header-body .header-menu > ul {
    float: left;
    position: relative;
    margin-bottom: 0;
}

.header .header-body .header-menu > ul > li {
    float: left;
    margin-right: 32px;
    position: relative;
    cursor: pointer;
}

.header .header-body .header-menu > ul > li > a.active, .header .header-body .header-menu > ul > li > a.active:hover {
    color: #19bbff;
}

.header .header-body .header-menu > ul > li > a.active:after {
    content: "";
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 2px;
    background-color: #19bbff;
}

.header .header-body .header-menu > ul > li > a {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 15px;
    color: #ccc;
}

.header .header-body .header-menu > ul > li > a > span {
    font-size: 14px;
    font-style: normal;
    margin-right: 6px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

.menu {
    display: block;
    width: 200px;
    height: 100%;
    background-color: #303035;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.menu .menu-ul {
    list-style: none;
    width: 200px;
    margin-top: 50px;
}

.menu .menu-ul li.active, .menu .menu-ul li:hover {
    background-color: #252525;
}

.menu .menu-ul li {
    line-height: 60px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.menu .menu-ul li > a {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 60px;
}

.menu .menu-ul li i {
    margin: 0 14px 0 28px;
    width: 36px;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    color: #686d7a;
    line-height: 24px;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    font-size: 24px;
}

.menu .menu-ul li:hover i {
    color: #fff;
}

.menu .menu-ul li.active i {
    color: #17a6f1;
}

.content {
    width: 100%;
    height: auto;
    min-height: 100%;
    padding: 50px 0 150px 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content .wrapper {
    background-color: #f5f6f7;
    padding-bottom: 30px;
}

.content .wrapper .navigation {
    background: #fff;
    -webkit-box-shadow: 0 0 0 0 #eee;
    box-shadow: 0 0 0 0 #eee;
    position: relative;
    padding: 0 40px;
    vertical-align: middle;
    height: 66px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    line-height: 66px;
    border-radius: 3px;
}

.footer {
    width: 100%;
    height: 84px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 260px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
}

.footer p {
    margin: 10px 0 8px 0;
    color: #999;
}

.waringchange {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2040;
    display: none;
    background-color: rgba(1, 1, 1, 0.5);
}

.change-table .change-table-form > div > form > div > div > label {
    display: none !important;
}

.waringchange .change-table {
    width: 500px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    right: 0;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border: 0;
    background-clip: padding-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}

.waringchange .change-table .change-table-close {
    right: 32px;
    top: 32px;
    position: absolute;
}

.waringchange .change-table .change-table-close > i {
    font-size: 21px;
    color: #999;
    transition: color .2s ease;
    position: relative;
    top: 1px;
}

.waringchange .change-table .change-table-header {
    padding: 36px;
    border-bottom: 1px solid #e8eaec;
    line-height: 1;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
}

.waringchange .change-table .change-table-form {
    overflow: auto;
    position: static;
    padding-right: 55px;
    padding-top: 32px;
    padding-left: 30px;
    height: calc(100% - 160px);
    font-size: 12px;
    line-height: 1.5;
    word-wrap: break-word;
}

.change .change-table .change-table-form > div {
    margin-bottom: 120px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.change .change-table .change-table-form > div > form > p {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    color: #333;
    line-height: 26px;
    padding-bottom: 30px;
}

.change-table .change-table-form > div > form > div > .form-input {
    position: relative;
    line-height: 32px;
    font-size: 12px;
}

#device_waring .grid .reuser-table, #new_waring .grid .reuser-table {
    position: relative;
    background-color: #fff;
    border-radius: 18px;
    border: 1px solid #fff;
}

#device_waring .grid .reuser-table .re-header, #new_waring .grid .reuser-table .re-header {
    padding: 10px;
}

#device_waring .grid .reuser-table .re-header .re-title, #new_waring .grid .reuser-table .re-header .re-title {
    text-align: center;
    margin-top: 8px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

#device_waring .grid .reuser-table .re-body, #new_waring .grid .reuser-table .re-body {
    text-align: center;
    font-size: 15px;
    color: #585858;
}

#device_waring .grid .reuser-table .re-footer, #new_waring .grid .reuser-table .re-footer {
    padding-top: 10px;
    padding-bottom: 24px;
    position: relative;
    text-align: center;
}

#device_waring .grid .reuser-table .re-footer > button, #new_waring .grid .reuser-table .re-footer > button {
    font-size: 14px;
    width: 72px;
    height: 32px;
    cursor: pointer;
    font-family: "Microsoft YaHei", sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #00c0f1;
    color: #fff;
    border-width: 0;
    transition: all .2s ease-in;
    border-radius: 12px;
    margin: 0 12px;
}

#device_waring .grid .reuser-table .re-footer > button:hover, #remove .grid .reuser-table .re-footer > button:focus,#new_waring .grid .reuser-table .re-footer > button:hover, #remove .grid .reuser-table .re-footer > button:focus {
    background-color: #24bdfd;
    border: 0;
    outline: none;
}

.header .header-body .header-menu > ul > li > a:hover {
    color: white;
}

.create-device, .device-status {
    cursor: default;
}

#show-more:hover {
    background-color: #24bdfd;
    border-color: #24bdfd;
    color: white;
}
