{% extends 'type/controlboard.html' %}
{% block title %}JustCloud-设备管理{% endblock %}

{% block menu %}
{% include 'type/admintype.html' %}
{% endblock %}

{% block wrapper %}
<link href="/static/css/device.css" rel="stylesheet" type="text/css" />
<script src="/static/js/device.js"></script>
<div class="device-device-list-table">
    <div class="grid">
        <div class="ivu-table-wrapper" table-namespace="device-device-list-table">
            <div class="ivu-table ivu-table-default">
                <!---->
                <div class="ivu-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" style="width: 1276px;">
                        <colgroup>
                            <col width="128">
                            <col width="120">
                            <col width="128">
                            <col width="128">
                            <col width="128">
                            <col width="128">
                            <col width="128">
                            <col width="128">
                            <col width="259">
                            <!---->
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="ivu-table-column-center">
                                    <div class="ivu-table-cell"><span class="">设备ID</span>
                                        <!---->
                                        <!---->
                                    </div>
                                </th>
                                <th class="ivu-table-column-center">
                                    <div class="ivu-table-cell"><span class="">设备名称</span>
                                        <!---->
                                        <!---->
                                    </div>
                                </th>
                                <th class="ivu-table-column-center">
                                    <div class="ivu-table-cell"><span class="">设备状态</span>
                                        <!---->
                                        <!---->
                                    </div>
                                </th>
                                <th class="ivu-table-column-center">
                                    <div class="ivu-table-cell"><span class="">激活状态</span>
                                        <!---->
                                        <!---->
                                    </div>
                                </th>
                                <th class="ivu-table-column-center">
                                    <div class="ivu-table-cell"><span class="">所属产品</span>
                                        <!---->
                                        <!---->
                                    </div>
                                </th>
                                <th class="ivu-table-column-center">
                                    <div class="ivu-table-cell"><span class="">接入协议</span>
                                        <!---->
                                        <!---->
                                    </div>
                                </th>
                                <th class="ivu-table-column-center">
                                    <div class="ivu-table-cell"><span class="">创建日期</span>
                                        <!---->
                                        <!---->
                                    </div>
                                </th>
                                <th class="ivu-table-column-center">
                                    <div class="ivu-table-cell"><span class="">最后在线时间</span>
                                        <!---->
                                        <!---->
                                    </div>
                                </th>
                                <th class="ivu-table-column-center">
                                    <div class="ivu-table-cell"><span class="">操作</span>
                                        <!---->
                                        <!---->
                                    </div>
                                </th>
                                <!---->
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ivu-table-body" style="">
                    <table cellspacing="0" cellpadding="0" border="0" style="width: 1276px;">
                        <colgroup>
                            <col width="128">
                            <col width="120">
                            <col width="128">
                            <col width="128">
                            <col width="128">
                            <col width="128">
                            <col width="128">
                            <col width="128">
                            <col width="259">
                        </colgroup>
                        <tbody class="ivu-table-tbody">
                            <tr class="ivu-table-row">
                                <td class="ivu-table-column-center">
                                    <div class="ivu-table-cell">
                                        <!---->
                                        <!---->
                                        <!----><span>515427445</span>
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                </td>
                                <td class="ivu-table-column-center">
                                    <div class="ivu-table-cell">
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!----><span title="11">11</span>
                                        <!---->
                                    </div>
                                </td>
                                <td class="ivu-table-column-center">
                                    <div class="ivu-table-cell">
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!----><span class="device-status ">离线</span>
                                        <!---->
                                    </div>
                                </td>
                                <td class="ivu-table-column-center">
                                    <div class="ivu-table-cell">
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!----><span>未激活</span>
                                        <!---->
                                    </div>
                                </td>
                                <td class="ivu-table-column-center">
                                    <div class="ivu-table-cell">
                                        <!---->
                                        <!---->
                                        <!----><span>111</span>
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                </td>
                                <td class="ivu-table-column-center">
                                    <div class="ivu-table-cell">
                                        <!---->
                                        <!---->
                                        <!----><span>HTTP</span>
                                        <!---->
                                        <!---->
                                        <!---->
                                    </div>
                                </td>
                                <td class="ivu-table-column-center">
                                    <div class="ivu-table-cell">
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!----><span>2019-01-20</span>
                                        <!---->
                                    </div>
                                </td>
                                <td class="ivu-table-column-center">
                                    <div class="ivu-table-cell">
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!----><span>--</span>
                                        <!---->
                                    </div>
                                </td>
                                <td class="ivu-table-column-center">
                                    <div class="ivu-table-cell">
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <div data-v-40bcfc4e="" class="device-table-actions"><button data-v-40bcfc4e=""
                                                type="button" class="ivu-btn-text-status2 ivu-btn ivu-btn-text">
                                                <!---->
                                                <!----><span>
                                                    查看
                                                </span></button><button data-v-40bcfc4e="" type="button" class="ivu-btn-text-status2 ivu-btn ivu-btn-text"
                                                style="margin-left: 15px;">
                                                <!---->
                                                <!----><span>
                                                    编辑
                                                </span></button>
                                            <div data-v-40bcfc4e="" class="ivu-poptip ivu-poptip-confirm" style="text-align: left;">
                                                <div class="ivu-poptip-rel"><button data-v-40bcfc4e="" type="button"
                                                        class="ivu-btn-text-status2 ivu-btn ivu-btn-text" style="margin-left: 15px;">
                                                        <!---->
                                                        <!----><span>删除</span></button></div>
                                                <div class="ivu-poptip-popper" style="display: none;">
                                                    <div class="ivu-poptip-content">
                                                        <div class="ivu-poptip-arrow"></div>
                                                        <div class="ivu-poptip-inner">
                                                            <div class="ivu-poptip-body"><i class="ivu-icon ivu-icon-ios-help-circle"></i>
                                                                <div class="ivu-poptip-body-message">您确定要删除该设备吗？</div>
                                                            </div>
                                                            <div class="ivu-poptip-footer"><button type="button" class="ivu-btn ivu-btn-text ivu-btn-small">
                                                                    <!---->
                                                                    <!----><span>取消</span></button><button type="button"
                                                                    class="ivu-btn ivu-btn-primary ivu-btn-small">
                                                                    <!---->
                                                                    <!----><span>确定</span></button></div>
                                                        </div>
                                                        <!---->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </td>
                            </tr>
                            <!---->
                        </tbody>
                    </table>
                </div>
                <div class="ivu-table-tip" style="display: none;">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td style="width: 1276px;"><span>暂无筛选结果</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!---->
                <!---->
                <!---->
                <!---->
            </div>
            <!----><object tabindex="-1" type="text/html" data="about:blank" style="display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: none; padding: 0px; margin: 0px; opacity: 0; z-index: -1000; pointer-events: none;"></object>
        </div>
    </div>
</div>
{% endblock %}