<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JustCloud-警告</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link href="/static/css/waring_login.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="header-wrap">
    <div class="header" id="top">
        <a class="logo-wrapper" href="/">
            <span class="logo"></span>
        </a>
        <span class="logo-text">警告!</span>
    </div>
</div>
<div class="main-content">
    <div class="title">请先登陆JustCloud智慧城市平台！</div>
    <div class="content-wrapper">
        <div class="finish-wrapper">
            <div class="last-wrapper">
                <span class="fa fa-times"></span>
                <div class="text-wrapper">
                    <h3>请先登陆</h3>
                    <a href="/" onclick="loadingIn()">点击前往首页登陆</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'type/loading.html' %}
<footer>
    <div class="lang-change-wrap">
    </div>
    <a target="_blank" href="https://www.google.com/"><img
            src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.0.8/img/logo/Google.svg" style="width: 70px;"></a>
    <p>联系我们：QQ-2697021834/QQ-980830593/QQ-2750895964</p>
    <p>Copyright©2019 JustCloud 版权所有 蜀ICP备17013721号</p>
</footer>
</body>
