{% extends 'type/controlboard.html' %}
{% block title %}Jinger系统分析{% endblock %}

{% block menu %}
    {% include 'Jinger/jingerType.html' %}
{% endblock %}

{% block wrapper %}
    <link href="/static/css/Jinger/jingerAnaly.css" rel="stylesheet" type="text/css"/>

    <script src="/static/js/Jinger/jingerAnaly.js"></script>
    <script src="/static/plugins/highcharts/highcharts.js"></script>
    <script src="/static/plugins/highcharts/exporting.js"></script>
    <script src="/static/plugins/highcharts/highcharts-zh_CN.js"></script>
    <script src="/static/plugins/highcharts/grid-light.js"></script>
    <script src="/static/plugins/highcharts/highcharts-more.js"></script>
    <script>


    </script>
{% endblock %}