.map {
    margin: 0 20px 0 20px;
}

.map-body {
    background: #fff;
    -webkit-box-shadow: 0 0 0 0 #eee;
    box-shadow: 0 0 0 0 #eee;
    position: relative;
    overflow: hidden;
    height: 500px;
    padding-bottom: 36px;
}

#allmap {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    width: available;
    height: available;
    margin: 0 36px 0 36px;
    width: -moz-available;
    position: absolute !important;
    text-align: center !important;
    float: none !important;
}

[_cid="1"] {
    display: none !important;
}

[class=" anchorBL"] {
    display: none !important;
}

.BMapLabel {
    border: 0 !important;
    background-color: rgba(000, 000, 000, 0) !important;
    font-weight: 600 !important;
}

.wrapper .waring-datalist {
    margin: 20px 20px 0 20px;
}

.wrapper .waring-datalist .data-table {
    position: relative;
    border-bottom: 0;
    border-right: 0;
}

.data-table:before {
    content: "";
    position: absolute;
    background-color: #f5f6f7;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.t-header > table > thead > tr > th {
    height: 60px;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.t-header > table > thead > tr > th > div, .t-body > table > tbody > tr > td > div {
    display: inline-block;
    word-wrap: normal;
    vertical-align: middle;
    padding-left: 36px;
    padding-right: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;
    font-weight: 600;
}

.t-header > table > thead > tr > th > div > span {
    color: #333;
    font-weight: 600;
    font-size: 12px;
}

.t-body > table > tbody > tr > td > div > a {
    color: #00c0f1;
    font-size: small;
    margin: 0 5px;
    cursor: default;
    font-weight: 500;
}

.t-body > table > tbody > tr > td {
    border-bottom: 1px solid #f5f6f7;
    height: 72px;
    color: #303030;
    background-color: #fff;
    text-align: center;
}

.t-footer {
    padding: 17px 0;
    text-align: center;
    position: relative;
    line-height: 32px;
    border-top: none;
    background-color: #fff;
    box-sizing: border-box;
}

.data-status {
    display: inline-block;
    width: 80px;
    height: 26px;
    background: rgb(196, 201, 205);
    font-size: 12px;
    color: rgb(255, 255, 255);
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
}

.t-body > table > tbody > tr > td > div .a-green:hover {
    color: #61d16c;
}

.t-body > table > tbody > tr > td > div .a-red {
    color: red;
}

.t-body > table > tbody > tr > td > div .a-red:hover {
    color: #ff6120;
}

.change {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2040;
    display: none;
    background-color: rgba(1, 1, 1, 0.5);
}

#remove .grid .reuser-table {
    position: relative;
    background-color: #fff;
    border-radius: 18px;
    border: 1px solid #fff;
}

#remove .grid .reuser-table .re-header {
    padding: 10px;
}

#remove .grid .reuser-table .re-header .re-title {
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
}

#remove .grid .reuser-table .re-body {
    text-align: center;
    color: #585858;
}

#remove .grid .reuser-table .re-footer {
    padding-top: 10px;
    padding-bottom: 24px;
    position: relative;
    text-align: center;
}

#remove .grid .reuser-table .re-footer > button {
    font-size: 14px;
    width: 72px;
    height: 32px;
    cursor: pointer;
    font-family: "Microsoft YaHei", sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #00c0f1;
    color: #fff;
    border-width: 0;
    transition: all .2s ease-in;
    border-radius: 12px;
    margin: 0 12px;
}

#remove .grid .reuser-table .re-footer > button:hover, #remove .grid .reuser-table .re-footer > button:focus {
    background-color: #24bdfd;
    border: 0;
    outline: none;
}

.system-wrap {
    margin: 30px 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.system-wrap .item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #fff;
    display: flex;
    padding: 15px;
}

.system-wrap .item .system-left {
    flex-basis: 280px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
}

.system-wrap .item .system-right {
    display: flex;
    -ms-flex-preferred-size: 185px;
    flex-basis: 185px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-left: 1px dashed #eee;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.system-wrap .item .system-left > i {
    color: #57a2ff;
    line-height: 100%;
    font-size: 136px;
}

.system-wrap .item .system-left > i:hover {
    color: #75baff;
}

.system-wrap .item .system-left > p {
    margin-top: 24px;
    color: #666;
    font-size: 15px;
}

.system-wrap .item .system-left > b {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 22px;
    color: #333;
}

.system-top > p, .system-bottom > p {
    line-height: 100%;
    color: #666;
    font-size: 16px;
}

.system-top > b, .system-bottom > b {
    display: inline-block;
    margin-top: 18px;
    line-height: 100%;
    font-size: 21px;
    color: #1e2027;
    font-weight: 600;
}

.system-bottom {
    position: relative;
}

.highcharts-credits, .highcharts-button-normal, .highcharts-contextbutton {
    display: none !important;
}

.system-wrap .item .s-header {
    height: 40px;
    position: relative;
    margin-bottom: 28px;
}

.system-wrap .item .s-header > h1 {
    display: inline-block;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}

.system-wrap .item-right {
    display: grid;
    margin-left: 20px;
    text-align: center;
}

[stroke="#f2f2f2"] {
    display: none;
!important;
}