.content .wrapper .baseinfo {
    margin-top: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content .wrapper .domaninfo, .content .wrapper .usersinfo {
    margin: 20px 20px 0 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content .wrapper .baseinfo {
    height: 130px;
}

.content .wrapper .baseinfo .grid, .content .wrapper .domaninfo .grid, .content .wrapper .usersinfo .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.content .wrapper .baseinfo .grid > div {
    padding-top: 30px;
}

.content .wrapper .baseinfo .grid .baseinfo-user {
    position: relative;
    display: inline-block;
    width: 25%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    height: 100%;
    padding-left: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #f3f4f5;
}

.content .wrapper .baseinfo .grid .baseinfo-user > h2 {
    font-size: 24px;
    color: #1d2028;
    line-height: 100%;
    margin-bottom: 21px;
    margin-top: 0;
}

.content .wrapper .baseinfo .grid .baseinfo-user > span {
    display: inline-block;
    color: #57a2ff;
    font-size: 12px;
    line-height: 100%;
    padding: 5px 20px;
    background-color: #e3f1ff;
}

.content .wrapper .baseinfo .grid .baseinfo-user > a {
    font-size: 12px;
    margin-left: 14px;
    color: #17a6f1;
}

.content .wrapper .baseinfo .grid .baseinfo-user > a:hover {
    color: #24bdfd;
}

.content .wrapper .baseinfo .grid .baseinfo-aid > h3, .content .wrapper .baseinfo .grid .baseinfo-uid > h3, .content .wrapper .baseinfo .grid .baseinfo-subuser > h3, .content .wrapper .baseinfo .grid .baseinfo-system > h3 {
    margin: 0;
    font-size: 14px;
    color: #666;
    font-weight: 700;
}

.content .wrapper .baseinfo .grid .baseinfo-aid, .content .wrapper .baseinfo .grid .baseinfo-uid, .content .wrapper .baseinfo .grid .baseinfo-subuser, .content .wrapper .baseinfo .grid .baseinfo-system {
    text-align: center;
    line-height: 100%;
    width: 20%;
    padding-top: 35px;
}

.content .wrapper .baseinfo .grid .baseinfo-aid > span, .content .wrapper .baseinfo .grid .baseinfo-uid > span, .content .wrapper .baseinfo .grid .baseinfo-subuser > span, .content .wrapper .baseinfo .grid .baseinfo-system > span {
    display: inline-block;
    color: #1e2027;
    margin-top: 28px;
    font-weight: 900;
}

.content .wrapper .domaninfo {
    height: 125px;
}

.content .wrapper .domaninfo .grid .domaninfo-name {
    height: 57px;
    border-right: 1px solid #f4f5f6;
    margin-top: 36px;
    font-size: 12px;
    font-weight: 300;
    color: #666;
    line-height: 24px;
    padding: 0 30px;
    text-align: center;
    display: inline-block;
    width: 18%;
    vertical-align: top;
}

.content .wrapper .domaninfo .grid .domaninfo-name > label {
    margin-right: 5px;
    width: 100%;
}

.content .wrapper .domaninfo .grid .domaninfo-name > h2 {
    color: #333;
    font-weight: 400;
    margin-top: 5px;
    display: inline-block;
}

.content .wrapper .domaninfo .grid .domaninfo-chenge > a {
    padding-left: 18px;
    margin: 45px 0 40px 80px;
    color: #fff;
    background-color: #57a2ff;
    border-color: #57a2ff;
    height: 36px;
    width: 128px;
    line-height: 36px;
    font-size: 14px;
    border-radius: 9px;
    display: inline-block;
    font-weight: 400;
}

.content .wrapper .domaninfo .grid .domaninfo-chenge > a > span {
    margin-left: 4px;
}

.content .wrapper .domaninfo .grid .domaninfo-chenge :hover {
    background-color: #24bdfd;
    border-color: #24bdfd;
}

.system-wrap {
    margin: 30px 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.system-wrap .item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #fff;
    display: flex;
    padding: 15px;
}

.system-wrap .item .system-left {
    flex-basis: 280px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
}

.system-wrap .item .system-right {
    display: flex;
    -ms-flex-preferred-size: 185px;
    flex-basis: 185px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-left: 1px dashed #eee;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.system-wrap .item .system-left > i {
    color: #57a2ff;
    line-height: 100%;
    font-size: 136px;
}

.system-wrap .item .system-left > i:hover {
    color: #75baff;
}

.system-wrap .item .system-left > p {
    margin-top: 24px;
    color: #666;
    font-size: 15px;
}

.system-wrap .item .system-left > b {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 22px;
    color: #333;
}

.system-top > p, .system-bottom > p {
    line-height: 100%;
    color: #666;
    font-size: 16px;
}

.system-top > b, .system-bottom > b {
    display: inline-block;
    margin-top: 18px;
    line-height: 100%;
    font-size: 21px;
    color: #1e2027;
    font-weight: 600;
}

.system-bottom {
    position: relative;
    margin-top: 45px;
}

.highcharts-credits, .highcharts-button-normal, .highcharts-contextbutton {
    display: none !important;
}

.system-wrap .item .s-header {
    height: 40px;
    position: relative;
    margin-bottom: 28px;
}

.system-wrap .item .s-header > h1 {
    display: inline-block;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}

.system-wrap .item-right {
    display: grid;
    margin-left: 20px;
    text-align: center;
}

[stroke="#f2f2f2"] {
    display: none;
!important;
}